<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" type="text/css">
  <title>finCLI's NEWS API</title>
</head>

<body>
  <div class="container">
    <center>
      <h3 style="color: #047857; font-weight: 900;">INTRODUCING</h3>
    </center>
    <h1># Founder's Letter</h1>
    <p>
      Hi my name is Dhairya Ostwal<a href="https://linkedin.com/in/dhairyaostwal">(@dhairyaostwal)</a>. It's been quite
      sometime I started working on this project. Wanting to combine the evergrowing world of finance with something
      useful and accessible lead me to build <a href="https://github.com/finCLI">finCLI</a>. <br>
      Several challenges in this project have grown me into a better person and I'm happy to continue it forward.
    </p>

    <h2># What is finCLI</h2>
    <p>As it says bringing Finance Updates on your Command Line Interface. Hence the name finCLI!<br>
      Get all the updates on BTC, Ethereum, DogeCoin, SENSEX, NIFTY, General Finance News - India & World via your CLI.

      <img class="finCLI--img"
        src="https://user-images.githubusercontent.com/50984984/111064945-0c10d280-84dd-11eb-8947-7c814433dd65.png">
    </p>
    <h2># Why did we build our own NEWS API</h2>
    <p>Initially we planned to use Currents API which does have a <highlight>limited API requests per month</highlight>,
      which lead to thinking
      about since we wanted to deliver the latest update on the following topics to the user. Another challenge was the
      information has to be credible enough therefore <highlight>verified and trusted sources only</highlight>.</p>

    <p>More on API Usage? <a href="https://github.com/finCLI/news-api">Explore the docs</a></p>
    <h2># Endpoints</h2>
    <p>
      <block>GET</block>
    <ol>
      <li><a>/bitcoin</a> : updates on Bitcoin</li>
      <li><a>/ethereum</a> : updates on Ethereum</li>
      <li><a>/cryptocurrency</a> : updates on Cryptocurrency</li>
      <li><a>/globe</a> : updates on Global Finance</li>
      <li><a>/india</a> : updates on Indian Finance</li>
    </ol>
    </p>


  </div>

</body>

</html>